@using Microsoft.AspNetCore.Identity
@using BlogProject.Services
@inject IImageService imageService
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager


<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.FindByEmailAsync(User.Identity.Name);

        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">Logout</a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-lg-3 py-3 py-lg-4 d-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                <img class="rounded-circle shadow-1-strong me-3 mt-2"
                    style="object-fit: cover;"
                    src="@imageService.DecodeImage(user.ImageData, user.ContentType)"
                    alt="avatar"
                    width="40"
                    height="40" />
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>
</div>
